body {
    margin: 0;
    padding: 0;
    background: #fdfffc;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    background: #14281d;
    color: #fdffcf;
    display: flex;
    padding: 9px;
    margin: 9px;
    justify-content:space-between;
}

h1 {
    margin: 9px;
    padding: 9px;
    text-align: center;
    font-family: fantasy;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header ul li {
    display: inline-block;
    padding: 25px 20px;
}

header  a {
    color: #fdfffc;
    text-decoration: none;
    line-height: 6em;
    text-align: left;
}

main {
    background: #7e9181;
    margin: 9px;
    border-top: #502419 solid;
    border-bottom: #502419 solid;
    border-width: 9px;
}

.id-post {
    text-align: center;
    color: #fdfffc;
    font-size: x-large;
}

li a:hover {
    background-color: #7e9181;
    padding: 9px;
}

.column {
    float: left;
    width: 25%;
    padding: 5px;
}

.row::after {
    clear: both;
    display: table;
}
.row {
    display: flex;
}

.column {
    flex:25%;
    padding: 5px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
}

.button {
    color: #fdfffc;
    padding: 10px 10px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 2px 2px;
    cursor: pointer;
    background-color: #502419;
    border-style: solid;
    border-radius: 50%;
}

.button:hover {
    background-color: #7e9181;
    padding: 9px;
}

.column1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.top {
    width: 20%;
    height: 20%;
    margin: 9px;
    padding: 9px;
}

.column2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.middle {
    width: 20%;
    height: 20%;
    margin: 9px;
    padding: 9px;
}

.column3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bottom {
    width: 20%;
    height: 20%;
    margin: 9px;
    padding: 9px;
}

p {
    text-align: justify;
    font-family:'Times New Roman', Times, serif;
    text-indent: 30px;
    line-height: 1.5;
    max-width: 45%;
    margin-left: 30px;
    padding: 9px;
    margin: 9px;
}

#top {
    text-align: center;
    font-weight: bold;
    font-size: larger;
}

#middle {
    text-align: center;
    font-weight: bold;
    font-size:larger ;
}

#bottom {
    text-align: center;
    font-weight: bold;
    font-size: larger;
}

.para {
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    padding: 9px;
}

figcaption {
   font-family: 'Times New Roman', Times, serif;
   text-indent: 30px;
   line-height: 1.5;
   max-width: 30%;
   margin-left: auto;
   margin-right: auto;
   text-align: justify;
}

.pic:hover {
    background-color: #14281d;
    padding: 9px;
}

.pr {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    color: #fdfffc;
    font-size: large;
}

.class {
    max-width: 25%;
    max-height: 15%;
    float: left;
}
@media screen and (max-width: 616px) {
    header {
      background: #14281d;
      display: block;
      padding: 0;
    }
  
    header ul li {
      display: block;
      border-top: 1px solid #502419;
    }
  
    header h1 {
      padding: 9px;
    }
  }
  
@media screen and (min-width: 576px) {
    header {
      background: #14281d;
    }
  }
  
  @media screen and (min-width: 768px) {
    header {
      background: #14281d;
    }
  }
  
  @media screen and (min-width: 992px) {
    header {
      background: #14281d;
    }
  }
  
  @media screen and (min-width: 1200px) {
    header {
      background: #14281d;
    }
  }
