body {
    margin: 0;
    padding: 0;
    background: #fefefe;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    background: #051747;
    color: aliceblue;
    display: flex;
    padding: 9px;
    margin: 9px;
    justify-content:space-between;
}

h1 {
    margin: 9px;
    padding: 9px;
    text-align: center;
    font-family: fantasy;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header ul li {
    display: inline-block;
    padding: 25px 20px;
}

header  a {
    color: aliceblue;
    text-decoration: none;
    line-height: 6em;
    text-align: left;
}

main {
    background: #E7E9F0;
    margin: 9px;
    border-top: #051747 solid;
    border-bottom: #051747 solid;
    border-width: 10px;
}

.id-post {
    text-align: center;
    color: #051747;
    font-size: x-large;
}

li a:hover {
    background-color: #535F80;
    padding: 9px;
}

.column {
    float: left;
    width: 25%;
    padding: 5px;
}

.row::after {
    clear: both;
    display: table;
}
.row {
    display: flex;
}

.column {
    flex:25%;
    padding: 5px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}

button {
    color: aliceblue;
    padding: 10px 10px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 2px 2px;
    cursor: pointer;
    background-color: #051747;
    border-style: solid;
    border-radius: 50%;
}

button:hover {
    background-color: #E7E9F0;
    padding: 9px;
}

.column1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.top {
    width: 20%;
    height: 20%;
    margin: 9px;
    padding: 9px;
}

.column2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.middle {
    width: 20%;
    height: 20%;
    margin: 9px;
    padding: 9px;
}

.column3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bottom {
    width: 20%;
    height: 20%;
    margin: 9px;
    padding: 9px;
}

p {
    text-align: justify;
    font-family:'Times New Roman', Times, serif;
    text-indent: 30px;
    line-height: 1.5;
    max-width: 45%;
    margin-left: 30px;
    padding: 9px;
    margin: 9px;
}

#top {
    text-align: center;
    font-weight: bold;
    font-size: larger;
}

#middle {
    text-align: center;
    font-weight: bold;
    font-size:larger ;
}

#bottom {
    text-align: center;
    font-weight: bold;
    font-size: larger;
}

#para {
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    padding: 9px;
}
